/*Universal style*/
* {
    box-sizing: border-box;
}

/*Default styles*/
body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

h1, h2, h3, h4, p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.bg-lightgrey {
    background-color: #fafafa;
    padding-top: 4%;
}
/*Main-nav styles*/
.main-nav {
    text-align: center;
    color: #4a4a4a;
}

.main-nav ul {
    list-style: none;
    padding: 0;
}

.main-nav li {
    background-color: #fff;
    padding: 10px 0;
    margin: .5em 0;
    font-weight: 700;
}

/*Header styles*/
#home {
    padding: 2em 0;
    color: #909090;
}

#home img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-bottom: .7em;
}

/*Main styles*/
#portfolio {
    margin-top: 3em;
}

.card img {
    width: 100%;
    margin-bottom: 2.5em;
}

.card {
    color: #4a4a4a;
    margin-bottom: 2.5em;
}

.card h2 {
    font-size: 20px;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 16px;
    padding-bottom: 2em;
}

#contact {
    color: #909090;
    padding-top: 2em;
}

#contact h3 {
    padding-bottom: 1em;
}

span {
    font-weight: 700;
    color: #727272;
    padding-left: 1em;
}

.card-bottom {
    padding-bottom: 1em;
}

/*Footer styles*/
footer {
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;
    font-weight: 700;
}

hr {
    height: 2px;
    width: 90%;
    background-color: #e2e2e2;
    border: none;
}

@media screen and (min-width: 768px) {
    .main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .main-nav li {
        background-color: transparent;
        padding-left: 2em;
    }

    #home {
        display: flex;
        justify-content: space-between;
    }

    #home img {
        width: 40%;
        order: 1;
    }

    #home p {
        width: 56%;
        text-align: left;
        font-size: 20px;
        margin: 0;
    }

    .portfolio-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 49%;
    }

    .card img {
        margin-bottom: 1.5em;
    }
    /*Fixa footer och vita glapprutan ovanför footer*/
}
